<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-lg-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
          <a class="nav-link active me-lg-5" aria-current="page" href="/">Home</a>
          <% if (user) { %>
            <a class="nav-link ms-lg-3" href="/createpost">Create Post</a>
            <a class="nav-link  ms-lg-5" href="/auth/logout">Logout</a>
           <% } else { %>
            <a class="nav-link  ms-lg-5" href="/auth/register">Register</a>
            <a class="nav-link ms-lg-3" href="/auth/login">Login</a>
          <% } %>
         
        </div>
      </div>
    </div>
  </nav>