<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registration</title>
		<link rel="stylesheet" href="../public/css/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Register With Us</h1>
			<form action="">


				<div class="form-row">
					<label for="name">Fullname</label>
					<input  type="text" id="name" placeholder="Enter Fullname" />
					<!-- <span class="email_error " style="color: red;"></span> -->
				</div>

                <div class="form-row">
					<label for="email">Email</label>
					<input  type="text" id="email" placeholder="Enter Email" />
					
				</div>

                <div class="form-row">
					<label for="name">Username</label>
					<input  type="text" id="username" placeholder="Enter Username" />
					<!-- <span class="email_error " style="color: red;"></span> -->
				</div>


				<div class="form-row">
					<label for="password">Password</label>
					<input type="password" id="password" placeholder="Enter password" />
					<!-- <span class="password_error " style="color: red;"></span> -->
				</div>






        <div class="form-row">
          <input type="submit" value="Register Now" id="submit">
        </div>
			</form>
			<p>Already registered? Login <a href="../views/login.html">here</a></p>
		</div>

	</body>
</html>


